.layers {
  display: inline-block;
  position: relative;
}

.layers :global(.solid-fa) {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  text-align: center;
}

.layers :global(.solid-fa-layers-text) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layers :global(.solid-fa-layers-text span) {
  display: inline-block;
}
