.hero {
  background: var(--pico-card-background-color);
  margin-bottom: var(--pico-block-spacing-vertical);
}

.hero-title {
  font-size: 3.5rem;
}

.hero > .grid > div:last-child {
  pointer-events: none;
}

.hero fieldset.grid:has([role="group"]) {
  grid-template-columns: 1fr;
}

.hero fieldset.grid:has([role="group"]) label {
  margin-bottom: 0;
}

.hue {
  color: #238ae6;
  animation: hue 30s infinite linear;
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(-360deg);
  }
}
